.menu {
    margin: 20px 0px;
    position: relative;

    &__row {
        display: flex;
        align-items: center;

        @media (max-width: 567px) {
            display: block;
        }
    }

    &__flex {
        display: flex;
    }

    &__flex {
        @media (max-width: 567px) {
            display: flex;
            margin: 0px 0px 10px 0px;
            width: 100%;
        }
    }

    &__logo {
        padding: 10px 20px;
        border: 1px solid #000000;
        border-radius: 10px 0 0 10px;
        border-right: none;

        @media (max-width: 567px) {
            padding: 5px 10px;
        }

        @media (max-width: 567px) {
            text-align: center;
            border-radius: 0px;
            border: 1px solid #000000;
        }
    }

    &__input {
        display: flex;
        flex: 1 1;

        @media (max-width: 567px) {
            flex: 0 0;
        }
    }

    &__total {
        border: 1px solid #000000;
        border-right: none;

        @media (max-width: 567px) {
            border-radius: 0px;
            border: 1px solid #000000;
        }
    }

    &__cart {
        border: 1px solid #000000;
        border-radius: 0px 10px 10px 0px;

        @media (max-width: 567px) {
            border-radius: 0px;
        }
    }
}

.input {
    &__form {
        input {
            border: 1px solid #000000;
            padding: 4px 20px;
            color: #1d1d1d;
            width: 390px;
            height: 40px;

            @media (max-width: 767.9px) {
                width: 235px;
            }

            @media (max-width: 567px) {
                padding: 4px 10px;
                margin: 0;
                width: 240px;
            }
        }

        @media (max-width: 567px) {
            margin: 0;
        }
    }
}

.price {
    &__cart {
        padding: 10px 14px;
        width: 130px;
        @media (max-width: 767px) {
            width: 110px;
            padding: 10px 5px;
        }
        @media (max-width: 567px) {
            width: 150px;
            padding: 5px 5px;
        }
    }
}

.elements {
    &__cart {
        padding: 10px 10px;
        width: 130px;
        @media (max-width: 767px) {
            width: 110px;
            padding: 10px 5px;
        }
        @media (max-width: 567px) {
            width: 150px;
            padding: 5px 5px;
        }
    }
}

.cart__active {
    display: none;
}

.cart {

    &__row {
        display: flex;
        align-items: center;
        border: 1px solid #000000;
        padding: 10px;

        button {
            border: 1px solid #000000;
            background-color: red;
            color: #fff;
            padding: 5px 10px;
        }
    }

    &__margin {
        margin: 0px 10px 0 20px;
        width: 100%;
    }
}

.cart:hover {
    .cart__active {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #ffffff;
        border: 1px solid #000000;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        margin: 41px 0px 0px 0px;
        min-height: 200px;
        width: 420px;
        @media (max-width: 567px) {
            width: 300px;
            margin: 95px 0px 0px 0px;
        }

        img {
            width: 50px;
            height: 50px;
        }

        ul {
            width: 100%;

            li:not(:last-child) {
                margin: 0px 0px 10px 0px;
            }
        }
    }
}
