.cards__wrapper {
}

.card__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    @media (max-width: 767.9px) {
        grid-template-columns: 1fr;
    }
}

.card {
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 10px;
    @media (max-width: 567.9px) {
        width: 300px;
    }

    &__item {}
}

.item-card {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;

    &__description {
        display: none;
        @media (max-width: 767.9px) {
            display: block;
        }
    }

    &__ita {
        @media (max-width: 767.9px) {
            display: flex;
            width: 100%;
        }
    }

    &__image {
        margin: 0px 0px 10px 0px;
        @media (max-width: 767.9px) {
            margin: 0px 20px 10px 0px;
        }
        img {
            width: 150px;
            height: 200px;
            @media (max-width: 567.9px) {
                width: 100px;
                height: 150px;
            }
        }
    }

    &__title {
        margin: 0px 0px 10px 0px;
        flex: 1 1 auto;
        width: 100%;
    }

    &__author {
        margin: 0px 0px 10px 0px;
        width: 100%;
    }

    &__price {
        margin: 0px 0px 10px 0px;
        width: 100%;
    }

    &__button {
        padding: 5px 10px;
        border: 1px solid #000000;

        &:hover {
            background-color: rgb(235, 235, 235);
        }
    }
}

.rub {
    border-bottom: 1px solid #000000;
    width: 50px;
}
