.filter {
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 20px 20px 0 20px;

    button {
        border: 1px solid #000000;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0px 0px 20px 0px;
        transition: all 0.3s ease 0s;
        @media (max-width: 767.9px) {
            margin: 0px 0px 10px 0px;
        }
    }

    button:hover {
        transition: all 0.3s ease 0s;
        background-color: rgb(235, 235, 235);
    }
    @media (max-width: 767.9px) {
        padding: 10px 10px 0 10px;
    }
    @media (max-width: 567.9px) {
        width: 300px;
        margin: 0px 0px 20px 0px;
    }
}
